@model IEnumerable<DisasterWebsiteAppr.Models.Disaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allocation)
            </th>
            <th>
                Resource Allocation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Started)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ended)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CName)
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DisasterId">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.DisasterId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.DisasterId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>